body{
  margin:0;
  padding:0;
  font-family: Arial;
  background-color: #3E2723;
}
header{
  background-color: #FFF8E1;
  color:black;
  text-align: center;
  padding:40px;
}
section{
  margin:1.5rem auto;

  background-color: #6D4C41;
  color: white;
  padding:20px;
  border-radius:6px;
  box-shadow:0 4px 10px rgba(0,0,0,0.3);

}
section:hover{
  transform: translateY(-3px);
  transition: 0.3s;
}
nav{
  background:#3E2723;
  color:white;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 20px;
  position:sticky;
  top:0;
  z-index:1000;
}

nav ul{
  list-style:none;
  display:flex;
  gap:20px;
  margin:0;
}

nav a{
  color:white;
  text-decoration:none;
  font-weight:bold;
}

nav a:hover{
  color:#C8A165;
}

.logo{
  margin:0;
}
.hero-btn{
  margin-top:15px;
  padding:10px 20px;
  border:none;
  background:#6D4C41;
  color:white;
  border-radius:6px;
  cursor:pointer;
  box-shadow:0 4px 12px rgba(0,0,0,0.3);

}